<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${attributeName} + '!'"></p>
<p>
    A place where curiosity leads to endless possibilities where dreams take flight and knowledge blooms in the garden of learning. Building futures where minds grow and friendships glow, Embracing the journey of discovery and joy with creating memories, inspiring futures, exploring the world of wisdom together in the heart of education. Every moment is a masterpiece. A canvas of learning painted with passion and purpose Where every challenge is an opportunity to shine in the classroom of life. Every student is a star Growing brighter together in the sunshine of education.</p>
<img th:src="@{/vistula.png}" width="300" height="300" alt="Vistula Logo">
</body>
</html>
